.row {
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc((48px * 4) + 12px);
	margin-bottom: 3px;
	display: flex;
}

.btn {
	width: 48px;
	height: 48px;
	border-radius: 4px;
	font-weight: 700;
	line-height: 48px;
	background-color: #ffd700;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.btn:active {
	background-color:#ffb700;
}

#result {
	width: 100%;
	padding: 10px;
	border: 1px solid#ffe100;
	border-radius: 4px;
	color: #ffa600;
}

.result:disabled {
	border: solid 1px #ffe100;
	font-size: 14px;
	background-color: white;
}
