.row {
	display: flex;
	width: 100%;
}

.btn {
	width: 48px;
	height: 48px;
	align-items: center;
	justify-content: center;
	color: white;
	background: #ffd700;
	border-radius: 4px;
	display: flex;
	margin: 2px;
}



.btn:active {
	background: #ffb700;
}

.result {
	color: #ffa600;
	width: 200px;
	height: 48px;
	border-radius: 4px;
}

.result:disabled {
	background-color: white;
	border: solid 1px #ffe100;
	font-size: 14px;
}