@charset "utf-8";

* {margin: 0; padding: 0;}
ul {list-style: none;}

.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display:flex;
}


/* 버튼 비활성화 일때 */
ul {
  display: flex;
}
ul li {
  width: 100px;
  font-weight: 900;
  cursor: pointer;
  color: gray;
}
/* 버튼 활성 */
ul li.on {
  cursor: pointer;
  color: black;
}
section {
  width: 300px;
  height: 200px;
  font-size: 50px;
  position: relative;
}
/* 박스 비활성 */
section article {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  line-height: 200px;
  text-align: center;
  transition: .4s;
  opacity: 0;
}
section article:nth-child(1) {background-color: gold;}
section article:nth-child(2) {background-color: tomato;}
section article:nth-child(3) {background-color: green;}
/* 박스 활성 */
section article.on {
  opacity: 1;
}
/* 박스 순서별로 배경색 지정 */
